#boite-6 {
    height: 250px;
    width: 250px;
    background-color: brown;
    padding: 20px;
    border: 2px solid blue;
    background-image: url("../../img/fond-bleu.jpg");
    background-position: top left;
}